openapi: 3.0.3
info:
  title: Spider Cloud Crawling Search API
  version: v1
  description: 'Spider Cloud is a Rust-based, AI-friendly web scraping and crawling platform.

    The REST API accepts and returns JSON (also XML, CSV, JSONL via the content-type header)

    and authenticates with a Bearer API key. Every account is allowed up to 10,000 core

    API requests per minute.

    '
  contact:
    name: Spider Cloud Support
    url: https://spider.cloud
    email: support@spider.cloud
  license:
    name: Proprietary
    url: https://spider.cloud
servers:
- url: https://api.spider.cloud
  description: Spider Cloud production API
security:
- bearerAuth: []
tags:
- name: Search
  description: Search the web and crawl results.
paths:
  /search:
    post:
      tags:
      - Search
      summary: Search the Web
      operationId: search
      description: Run a web search query and optionally crawl the returned results.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    SearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              title:
                type: string
              description:
                type: string
              content:
                type: string
    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
    SearchRequest:
      type: object
      required:
      - query
      properties:
        query:
          type: string
        limit:
          type: integer
        fetch_page_content:
          type: boolean
          description: When true, crawl every result and return its page content.
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
